.bg1{
    background: url('https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1540449644154&di=fa44003a3364c31d13d08ccf58872e7c&imgtype=0&src=http%3A%2F%2Fpic8.nipic.com%2F20100730%2F5160202_115708024562_2.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 400px;
    height: 300px;
}